# Java demo configuration parameters

# Java keystore parameters
export CONJUR_CERT_FILE=./conjur-dev.pem
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# Conjur connection URL & account
export CONJUR_APPLIANCE_URL=https://conjur-master-mac:30443
export CONJUR_ACCOUNT=dev

# Conjur host authn creds & the variable name to retrieve.
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=1geq27x9ft99jawfz09mg87rx1b2v2tayxdp571axx8cmz1gkb3

export CONJUR_VAR_ID=cicd-secrets/prod-db-password
